## Nested Loop

In [23]:
# to print pairs
for i in range(1,5):
    for j in range(1,5):
        print(i, j, end=" ")

1 1 1 2 1 3 1 4 2 1 2 2 2 3 2 4 3 1 3 2 3 3 3 4 4 1 4 2 4 3 4 4

## Pattern printing

In [24]:
for i in range(1,5):
    for j in range(1,5):
        if j<=i:
            print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [25]:
for i in range(1,10):
    for j in range(1,i+1):
        print(j,end="")
    for k in range(i-1,0,-1):
        print(k,end="")
    print()

1
121
12321
1234321
123454321
12345654321
1234567654321
123456787654321
12345678987654321

## Loop control statement
- break (like use in database)
- continue
- pass

In [26]:
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

# Strings
- creating strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- operations on strings
- string functions

In [27]:
s='hello'
a="hello"
print(s)
print(a)

hello
hello

## Accessing Substring from a string

In [28]:
#indexing qnd slicing
a="hello world"
print(a[2])
print(a[4:])
print(a[1:5])
print(a[1:8:2])
print(len(a))
## Negative indexing and slicing(in negative slicing first number is always larger)
print(a[-1])
print(a[7:3:-1])
print(a[-1:-6:-1])

## reverse string
print(a[::-1])

l
o world
ello
el o
11
d
ow o
dlrow
dlrow olleh

## Editing and Deleting in strings
- python strings are immutable

In [29]:
a="hello"
a[0]="H"

TypeError: 'str' object does not support item assignment

In [30]:
## we can delate whole string not partial
del a

- if strings are empty then it is false. If fill with value it's true and>second or->first
- Arithmatic Operations
- Relational Operations
- Logical operations
- Loops on strings
- Membership Operations

In [31]:
print('wajaht'+' '+'Ali')

wajaht Ali

## Strings common Functions (work on all things)
- len
- max
- min
- sorted

In [32]:
A="wajahat ali"
len(A)

11

In [33]:
max(A)

'w'

In [34]:
min(A)

' '

In [35]:
sorted(A)

[' ', 'a', 'a', 'a', 'a', 'h', 'i', 'j', 'l', 't', 'w']

## Capitalize/Title/Upper/Lower/Swapcase(work only on strings)

In [37]:
s="hello world"
s.capitalize()

'Hello world'

In [38]:
s.title()

'Hello World'

In [39]:
s.upper()

'HELLO WORLD'

In [40]:
s.lower()

'hello world'

In [41]:
s.swapcase()

'HELLO WORLD'

## Count/Find/Index
- count and index are same difference is count return -1 if not found in string while index through an error

In [43]:
a='my name is wajahat'
a.count('a')

4

In [44]:
a.find('a')

4

## Endswith/Startwith

In [46]:
a.endswith('t')

True

In [47]:
a.startswith('a')

False

## isalnum/isalpha/isdigit/isidentifier

In [48]:
a="wajahat123"
b="wajahat"
c="123"
a.isalnum()

True

In [50]:
b.isalpha()

True

In [51]:
c.isdigit()

True

## Split/Join

In [53]:
a='wajahat ali basharat'
c=a.split()
c

['wajahat', 'ali', 'basharat']

In [54]:
" ".join(c)

'wajahat ali basharat'

## Replace

In [55]:
a.replace('ali',"Ali")

'wajahat Ali basharat'

## Strip
- remove extra spaces